.jumbotron{
    background-color: #879fe7;
    color: black; 
}
.servicio{
    flex: 1 250px;
    padding: 5px 5px 5px 5px;
    margin-right: 50px;
    margin-left: 50px;
    height: 250px;
    position: relative;
}
.btn-servicio{
    position: absolute;
    width: 50%;
    top: 70%;
    right: 50%;
    transform: translateX(50%);
}
.footer{
    padding: 10px 10px 0px 10px;
    background-color: #678EFC;
    margin-bottom: 0px;
    margin-top: 10px;
}